

body {
    background: #081422;
    /* background-image: url("reel.png"); */
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: .5; */
    /* -webkit-background-size: cover; */
    /* background-image: linear-gradient(#081422, white); */
}

.reel {
    align-items: center;


}
.bimage {
    background-image: url("reel.png");
}
.overview {
    color: white;
    padding: 1em;
}

h1, h2, h3, form {
    color: mintcream;
    padding-left: 20px;
    display: flex;    
    justify-content: center;
}

#favorite-movies {
    padding-bottom: 50px;
}

main { 
    display: flex;    
    justify-content: center;
    height: 60vh;
    width: 1000;
    text-align: center;
}


.image {
    /* background-color: lemonchiffon; */
    /* border: 20px solid black; */
    animation-duration: 8s;
    padding: 20px;
    margin-top: 50px;
    animation-name: slide; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

img:hover {
    /* background: dimgray; */
    transform: scale(1.2);
    /* -webkit-animation: 0ms; */
} 

@keyframes slide {
    from {
        transform: translateX(0px); 
    }
    /* 25% {
        transform: translateX(0) scale(.75); 
    }

    50% {
        transform: translateX(500px) scale(1);
    }
    75% {
        transform: translateX (1000px) scale(.75);
    } */
    to {
        transform: translateX(1000px);
    }
}

