h1{
    text-align: center;
    display: flexbox;
}

body { 
    background-position: center

}

main {
    display: inline-block;
    /* background: lightsteelblue; */
    width: 500px;
    text-align: justify;
    padding-left: 50px;
}

