#button {
    display: table;
    margin-top: 100px;
    margin-bottom: 0px;
    align-content: center;
}

a img {
    display: table;
    margin: 20px;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-content: center;
    text-align: center;
    font-size: 15px;
    background: #081422;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding-right: 5px;
    padding-left: 25px;
} 

img:hover {
    transform: scale(1.2);
}

#Select-Movies {
    display: block;
    text-align: center;
    margin-right: 50px;
    padding-top: 100px;
    margin-bottom: -20px;
}

.content a {
    margin-left: 0px;
    display: table;
    text-align: center;
    color: white;
    /* background: darkblue */
}

.select-movies {
    display: flex;
    /* background: #717d8a; */
    justify-content: space-around;
    height: 100px;
}
h2 {
    display: block;
    color: white;
}

h4 a {
    text-decoration: none;
}

main {
    text-align: center;
}

main li {
    font-style: italic;
    color: snow;
}

h1 {
    font-family: sans-serif;
    color: snow;
}

body {
    background: #081422;
}

h3 {
    font-family: sans-serif;
    color: snow;
}
